@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,300;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Poppins', sans-serif; */
    background-color: #3c5f6d;
}

/* section select-pokemon */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.tittle {
    /* font-family: 'Fredoka One', cursive; */
    color: rgb(247, 241, 241);
     font-size: 32px;
    /*width: 312px; */
    text-align: center;
    margin-bottom:24px;
}
.select-mokepon {
    width: 90%;
} 
.subtittle{
    color: rgb(253, 248, 248);
    /* text-align: center; */
    font-size: 24px;
    margin-bottom: 24px;
}
.tarjetas {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: aliceblue;
    font-size: 16px;
    padding-bottom: 32px;
}
.tarjetas img{
    width: 75px;
}
.tarjeta-mokepon {
    display: flex;
    justify-content:space-around;
    gap: 10px;

    background-color: #46859e;
    /* height: 80px; */
    width: 198px;
    border-radius: 16px;
    /* height: 0px; */
    padding: 18px 40px 18px 40px;
}
.tarjeta-mokepon p {
    align-self: center;
    /* justify-self: center; */
}
.tarjetas input {
    display: none;
}
.select-mokepon button {
    border-radius: 16px;
    font-size: 24px;
    padding: 8px 64px 8px 64px;
    border: #ffffff 1px solid;
    color: white;
    background-color:#46859e;
    font-weight: bold;
    margin-bottom: 40px;
}

input:checked + label {
    background-color: aqua;
}

/* section choose */
/* .choose {
    display: flex;
    gap: 20px;
} */
.choose-div {
    display: flex;
    gap: 10px;
    justify-content:space-around;
}
#player-choose p{
    font-family: 'Poppins', sans-serif;
    color: rgb(253, 248, 248);
    /* text-align: center; */
    font-size: 20px;
    margin-bottom: 4px;   
    font-weight: bold;  
    padding: 4px 12px;
}
#computer-choose p{
    font-family: 'Poppins', sans-serif;
    color: rgb(253, 248, 248);
    /* text-align: center; */
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: bold; 
    padding: 4px 12px;     
}
.choose button {
    border-radius: 16px;
    font-size: 24px;
    padding: 8px 64px 8px 64px;
    border: #ffffff 1px solid;
    color: white;
    background-color:#46859e;
    font-weight: bold;
    margin-bottom: 40px;
}
/* section Continue */
/* #select-continue {
    position: relative;
    bottom: 80px;
} */
.tittle2 {
    /* font-family: 'Fredoka One', cursive; */
    color: rgb(247, 241, 241);
     font-size: 32px;
    /*width: 312px; */
    text-align: center;
    margin-bottom:8px;
}
.attack-subtittle {
     color: rgb(253, 248, 248);
    /* text-align: center; */
    font-size: 24px;
    margin: 40px 0 20px 0;
}
#player-choose img {
    width: 80px;
}
#computer-choose img {
    width: 80px;
}

/* Section Attack */
#select-attack .show-battle{
    display: flex;
    gap: 10px;

    margin-top: 20px;
}
#select-attack .show-battle div{
    font-family: 'Poppins', sans-serif;
    /* color: rgb(253, 248, 248); */
    /* text-align: center; */
    font-size: 16px;
    margin: 12px 0 4px 0;
    font-weight: bold;
}
#select-attack .show-battle div p{
    color: white;
    font-size: 16px;
    margin: 4px 0 4px 0;
    font-weight: bold;
    padding: 4px 12px;
}
.atacar {
    width: 100%;
}
.atacar p{
    display: flex;
    justify-content: space-around;
}
.atacar p button{
    border-radius: 8px;
    width: 120px;
    font-size: 16px;
    padding: 4px 8px 4px 8px;
    border: #ffffff 1px solid;
    color: white;
    background-color:#46859e;
    font-weight: bold;
    /* padding: 20px 0 20px 0; */
}
#message {
    margin: 20px 0 20px 0;
    color: rgb(253, 248, 248);
    /* text-align: center; */
    font-size: 32px;
}
#restart-game button {
    border-radius: 16px;
    font-size: 24px;
    padding: 8px 40px 8px 40px;
    border: #ffffff 1px solid;
    color: white;
    background-color: #46859e;
    font-weight: bold;
    margin-bottom: 40px;
}
#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* #mapa {
    border: 2px solid white;
} */

